<div class="skills-container">
  <section class="skills-section">
    <h2 class="skills-title">Skills</h2>
    <div class="skills-grid">
      <!-- Languages -->
      <div class="skills-column">
        <h3 class="skills-heading">Languages</h3>
        <ul class="skills-list">
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-plain.svg" alt="HTML5">
            HTML5</li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-plain.svg" alt="CSS3"> CSS3
          </li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-plain.svg"
              alt="JavaScript"> JavaScript</li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-plain.svg"
              alt="TypeScript"> TypeScript</li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-plain.svg" alt="C#">
            C#</li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="Python">
            Python</li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg" alt="Java">
            Java</li>
        </ul>
      </div>

      <!-- Frameworks & Libraries -->
      <div class="skills-column">
        <h3 class="skills-heading">Frameworks & Libraries</h3>
        <ul class="skills-list">
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angularjs/angularjs-plain.svg"
              alt="Angular"> Angular</li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" alt="React"> React
          </li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-plain-wordmark.svg"
              alt="Node.js"> Node.js</li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/express/express-original.svg"
              alt="Express.js"> Express.js</li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/django/django-plain.svg" alt="Django">
            Django</li>
        </ul>
      </div>

      <!-- Tools & Technologies -->
      <div class="skills-column">
        <h3 class="skills-heading">Tools & Technologies</h3>
        <ul class="skills-list">
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-plain.svg" alt="Git"> Git</li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg" alt="Docker">
            Docker</li>
          <li><img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/amazonwebservices/amazonwebservices-original-wordmark.svg"
              alt="AWS"> AWS</li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-original.svg"
              alt="MongoDB"> MongoDB</li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg" alt="MySQL">
            MySQL</li>
          <li><img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/microsoftsqlserver/microsoftsqlserver-plain.svg"
              alt="SQL Server"> SQL Server</li>
          <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/pandas/pandas-plain.svg" alt="Pandas">
            Pandas</li>
        </ul>
      </div>

      <!-- Agile Methodologies -->
      <div class="skills-column">
        <h3 class="skills-heading">Agile Methodologies</h3>
        <ul class="skills-list">
          <li><img src="https://www.svgrepo.com/show/379476/kanban-board.svg" alt="Kanban"> Kanban</li>
          <li><img src="https://www.svgrepo.com/show/372946/scrum.svg" alt="Scrum">
            Scrum</li>
          <li><img
              src="https://static.thenounproject.com/png/extreme-programming-icon-5486538-512.png"
              alt="XP"> XP</li>
          <li title="No es una metodología ágil, pero es una cultura que permite el agilismo en el equipo">
            <img src="https://cdn-icons-png.flaticon.com/128/5266/5266248.png"
              alt="DevOps"> DevOps</li>

        </ul>
      </div>
    </div>
  </section>
</div>
