<div class="wrapup-container">
  <!-- Slider compacto -->
  <div class="slider-wrapper">
    <button class="nav-button left" (click)="prevSlide()">‹</button>

    <div class="season-slider">
      <div class="slide" *ngFor="let slide of slides" [style.background-image]="'url(' + slide.image + ')'">
        <div class="slide-info">
          <h3>{{ slide.title }}</h3>
          <span>{{ slide.platform }}</span>
        </div>
      </div>
    </div>

    <button class="nav-button right" (click)="nextSlide()">›</button>
  </div>

  <!-- Cards compactas -->
  <h2 class="section-title ps-title">Temporada Navideña </h2>

  <div class="games-grid">
    <div class="game-card" *ngFor="let game of seasonalGames">
      <div class="game-img" [style.background-image]="'url(' + game.image + ')'"></div>
      <div class="game-info">
        <h3>{{ game.title }}</h3>
        <span>{{ game.platform }}</span>
      </div>
    </div>
  </div>

  <section class="ps-insights">
    <h2 class="ps-title">PlayStation Insights</h2>

    <div class="insights-grid">
      <div class="ps-card" *ngFor="let insight of psInsights">
        <div class="ps-style">{{ insight.style }}</div>

        <div class="ps-data">
          <div><span class="icon">🎮</span> Títulos jugados <strong>{{ insight.titles }}</strong></div>
          <div><span class="icon">🏆</span> Total de trofeos <strong>{{ insight.trophies }}</strong></div>
          <div><span class="icon">⏱️</span> Horas jugadas <strong>{{ insight.hours }}</strong></div>
          <div><span class="icon">👥</span> Horas de multijugador <strong>{{ insight.multiplayerHours }}</strong></div>
        </div>

        <div class="ps-favorite">
          <div class="tag">MI JUEGO PREFERIDO</div>
          <img [src]="insight.favoriteGameImg" alt="{{ insight.favoriteGameName }}" />
          <p class="favorite-title">{{ insight.favoriteGameName }}</p>
        </div>

        <div class="ps-footer">WRAP-UP</div>
        <div class="ps-year">{{ insight.year }}</div>


      </div>
    </div>
  </section>


</div>
