<div class="wrapup-container">
  <!-- Slider compacto -->
  <div class="slider-wrapper">
    <button class="nav-button left" (click)="prevSlide()">‹</button>

    <div class="season-slider">
      <div class="slide" *ngFor="let slide of slides" [style.background-image]="'url(' + slide.image + ')'">
        <div class="slide-info">
          <h3>{{ slide.title }}</h3>
          <span>{{ slide.platform }}</span>
        </div>
      </div>
    </div>

    <button class="nav-button right" (click)="nextSlide()">›</button>
  </div>

  <!-- Cards compactas -->
  <h2 class="section-title ps-title">El peso del pasado, la fuerza del presente</h2>

  <div class="games-grid">
    <div class="game-card" *ngFor="let game of seasonalGames">

      <!-- Imagen principal -->
      <div
        class="game-img"
        [style.background-image]="'url(' + game.image + ')'"
      ></div>

      <!-- Info del juego -->
      <div class="game-info">
        <h3>{{ game.title }}</h3>
        <span>{{ game.platform }}</span>
      </div>

      <!-- Logros recientes -->
      <div class="achievement-list">
        <div
          class="achievement-card"
          *ngFor="let ach of game.achievements"
        >
          <img class="achievement-icon" [src]="ach.icon" />

          <div class="achievement-info">
            <strong>{{ ach.title }}</strong>
            <span>{{ ach.description }}</span>
          </div>

          <div class="achievement-meta">
            <span class="achievement-date">{{ ach.date }}</span>
            <span class="trophy" [ngClass]="ach.trophyType">🏆</span>
          </div>
        </div>
      </div>

    </div>
  </div>


  <app-game-insights></app-game-insights>

</div>
