<section class="section-container about-section scroll-reveal">
  <h2>About</h2>
  <div class="about-card">
    <p>Hi! I’m <strong>Fabian Andrade</strong>, a frontend developer from <a href="#">Colombia</a> with a strong focus
      on accessibility, detail, and clean code. I’m passionate about crafting software that feels human and works well
      everywhere.</p>

    <p>I focus on details and I’m passionate about crafting software products that look great and are both accessible
      and easy to maintain.</p>

    <figure class="about-photo">
      <img [src]="selectedPhoto?.src" [alt]="selectedPhoto?.alt" />
      <figcaption>{{ selectedPhoto?.caption }}</figcaption>
    </figure>


    <p>I enjoy working with globally distributed teams that prioritize people, foster trust, and create inclusive, compassionate environments.</p>

    <p>If you’re curious about the things i usually do in my freetime, you can check scrolling this page. Discover new music with my
      <a href="https://open.spotify.com/playlist/2rnGPhq7JvREQJJJfxya0d?si=5098490d1a5b4d51" target="_blank">favourite playlist</a>
      of my most listened songs!</p>

    <div class="connect-block">
      <h3>Let’s connect!</h3>
      <p>Feel free to <a href="mailto:fabian.andrade1498@gmail.com">send me a message</a>, or find me on social media:</p>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/fabian-camilo-andrade-mesa-abb8b9235/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://github.com/FabianAndrade14" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://x.com/another_friki_" target="_blank"><i class="devicon-twitter-original"></i></a>
        <a href="https://www.instagram.com/fabian_belmont19/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://open.spotify.com/playlist/2rnGPhq7JvREQJJJfxya0d" target="_blank"><i class="fas fa-music"></i></a>
      </div>
    </div>
  </div>

</section>

<app-skills></app-skills>
<app-experience></app-experience>
<app-music id="activity"></app-music>
