<section class="section-container about-section">
  <h2>About</h2>
  <div class="about-card">
    <p>Hi! I’m <strong>Fabian Andrade</strong>, a frontend developer from <a href="#">Colombia</a> with a strong focus
      on accessibility, detail, and clean code. I’m passionate about crafting software that feels human and works well
      everywhere.</p>

    <p>I focus on details and I’m passionate about crafting software products that look great and are both accessible
      and easy to maintain.</p>

    <figure class="about-photo">
      <img src="../../assets/img/02.JPG" alt="Fabian in Comic-con" />
      <figcaption>In Comic con Bogotá – Jun ‘23</figcaption>
    </figure>

    <p>I’m a huge advocate for open source and collaborating with the community. You can find my stash of websites,
      libraries, and apps on <a href="#">GitHub</a> which have earned over 2K stars.</p>

    <p>I thrive in globally-remote teams that value people and embrace trust, kindness, and inclusion.</p>

    <p>If you’re curious about the hardware and software tools I use every day, feel free to check out the <a
        href="#">uses page</a>. And discover new music with my <a href="#">daily-updated playlist</a> of top recently
      listened songs!</p>

    <div class="connect-block">
      <h3>Let’s connect!</h3>
      <p>Feel free to <a href="mailto:fabian@email.com">send me a message</a>, or find me on social media:</p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="devicon-twitter-original"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fas fa-music"></i></a>
      </div>
    </div>
  </div>

</section>

<app-skills></app-skills>
<app-experience></app-experience>
<app-music></app-music>
