<div class="experience-container">
  <h2 class="experience-title">Experience</h2>
  <div class="experience-card">
    <div class="logo">
      <img src="../../../assets/img/freelance.png" alt="Company Logo" />
    </div>
    <div class="content">
      <div class="header">
        <h3 class="title">Data Analyst | FullStack Developer <span class="badge">Current</span></h3>
        <p class="company">Freelance · Full-time</p>
        <p class="dates">January 2024 – Present | <span class="location">Bogotá, Colombia</span></p>
      </div>
    </div>
  </div>

  <div class="experience-card">
    <div class="logo">
      <img
        src="https://media.licdn.com/dms/image/v2/D4E0BAQG67Wgk9L5FiA/company-logo_200_200/company-logo_200_200/0/1719926496403/praxis_2_logo?e=2147483647&v=beta&t=HGh_LzG18cZ9GDFqly26iIJTTy3nO-2SZxmltSxj1jo"
        alt="Company Logo" />
    </div>
    <div class="content">
      <div class="header">
        <h3 class="title">FullStack Developer</h3>
        <p class="company">Praxis IT · Full-time</p>
        <p class="dates">June 2022 – December 2023 | <span class="location">Bogotá, Colombia</span></p>
      </div>
    </div>
  </div>

  <div class="experience-card">
    <div class="logo">
      <img
        src="https://media.licdn.com/dms/image/v2/C560BAQHsfPe9XAXdnQ/company-logo_200_200/company-logo_200_200/0/1631365314416?e=1757548800&v=beta&t=v-Hn-_85EFZY61dfNxHZ99FQL2rGGqCn0JLZNgKmKvU"
        alt="Company Logo" />
    </div>
    <div class="content">
      <div class="header">
        <h3 class="title">Frontend Developer</h3>
        <p class="company">Controler · Part-time</p>
        <p class="dates">December 2018 – April 2022 | <span class="location">Tunja, Boyacá</span></p>
      </div>
    </div>
  </div>
</div>
