<footer class="footer">
  <div class="footer-grid">
    <div class="footer-profile">
      <h3 class="footer-name">
        <img src="../../../assets/img/fandrade.png" alt="freelance Fabian" class="logo-icon">
        <a href="">  Fabian Andrade</a>
      </h3>
      <p>Fullstack software engineer from Colombia, passionate about crafting robust and engaging digital solutions</p>
      <div class="social-icons">
        <a href=""><i class="fab fa-github"></i></a>
      </div>
      <div class="local-time">
        <i class="fas fa-clock"></i> {{ timenow }} COL
      </div>
    </div>

    <div class="footer-nav">
      <h4>NAVIGATE</h4>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/projects">Projects</a></li>
      </ul>
    </div>
  </div>
</footer>
