<footer class="footer">
  <div class="footer-grid">
    <div class="footer-profile">
      <h3 class="footer-name">
        <img src="../../../assets/img/fandrade.png" alt="freelance Fabian" class="logo-icon">
        <a href="">  Fabian Andrade</a>
      </h3>
      <p>Passionate and creative frontend software engineer from Colombia 🇨🇴</p>
      <div class="social-icons">
        <a href=""><i class="fab fa-github"></i></a>
      </div>
      <div class="local-time">
        <i class="fas fa-clock"></i> 08:00 AM COL
      </div>
    </div>

    <div class="footer-nav">
      <h4>NAVIGATE</h4>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Projects</a></li>
      </ul>
    </div>
  </div>
</footer>
