.activity-container {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  max-width: 800px;
  margin: 3rem auto;
  padding: 0 1rem;
  color: #f1f5f9;

}

.activity-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(30, 30, 47, 0.6); /* Glass-like background */
  padding: 1rem 1.25rem;
  border-radius: 14px;
  color: #fff;
  width: 320px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.activity-title-container {
  font-family: 'Inter', sans-serif;
  max-width: 800px;
  margin: 3rem auto;
  padding: 0 1rem;
  color: #f1f5f9;
  border-left: 4px solid #c0392b;
  padding-left: 0.75rem;
  font-weight: 600;


}

.activity-card img {
  width: 65px;
  height: 65px;
  border-radius: 8px;
  margin-right: 1rem;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.activity-card:hover img {
  transform: scale(1.15);
}

.activity-content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.activity-type {
  font-size: 0.75rem;
  color: #aaa;
  letter-spacing: 0.05em;
  margin-bottom: 2px;
}

.activity-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2px;
  color: #fff;
}

.activity-subtitle {
  font-size: 0.85rem;
  color: #ccc;
}
