<h2 class="activity-title-container">Activity</h2>
<div class="activity-container">

  <div class="activity-card">
    <img [src]="gamingActivity.cover" alt="Portada" />
    <div class="activity-content">
      <div class="activity-type">NOW PLAYING</div>
      <div class="activity-title">{{ gamingActivity.title }}</div>
      <div class="activity-subtitle">{{ gamingActivity.platform }}</div>
      <!-- <div class="activity-subtitle">{{ gamingActivity.lastPlayed | date}}</div> -->
    </div>
  </div>

  <div class="activity-card">
    <img [src]="readingActivity.cover" alt="Libro" />
    <div class="activity-content">
      <div class="activity-type">READING {{ readingActivity.progress }}%</div>
      <div class="activity-title">{{ readingActivity.title }}</div>
      <div class="activity-subtitle">{{ readingActivity.author }}</div>
    </div>
  </div>

  <div class="activity-card">

    <!-- SI NO hay sesión Spotify -->
    <ng-container *ngIf="!isSpotifyLoggedIn; else spotifyContent">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png" alt="No cover" />
      <div class="activity-content">
        <div class="activity-type">SPOTIFY</div>
        <div class="activity-title">No conectado</div>
        <div class="activity-subtitle">Pulsa para iniciar sesión</div>

        <button class="spotify-btn" (click)="loginWithSpotify()">
          Conectar con Spotify
        </button>
      </div>
    </ng-container>

    <!-- SI HAY SESIÓN -->
    <ng-template #spotifyContent>
      <img [src]="musicActivity.cover" alt="Album cover" />
      <div class="activity-content">
        <div class="activity-type">NOW PLAYING</div>
        <div class="activity-title">{{ musicActivity.title }}</div>
        <div class="activity-subtitle">{{ musicActivity.author }}</div>
      </div>
    </ng-template>

  </div>


  <div class="activity-card">
    <img [src]="comicActivity.cover" alt="Libro" />
    <div class="activity-content">
      <div class="activity-type">READING {{ comicActivity.progress }}%</div>
      <div class="activity-title">{{ comicActivity.title }}</div>
      <div class="activity-subtitle">{{ comicActivity.issue }}</div>
    </div>
  </div>
</div>
<!-- <a href="https://psnprofiles.com/FABIAGO11"><img src="https://card.psnprofiles.com/2/FABIAGO11.png" border="0"></a> -->
