<h2 class="activity-title-container">Activity</h2>
<div class="activity-container">

  <div class="activity-card">
    <img [src]="gamingActivity.cover" alt="Portada" />
    <div class="activity-content">
      <div class="activity-type">NOW PLAYING</div>
      <div class="activity-title">{{ gamingActivity.title }}</div>
      <div class="activity-subtitle">{{ gamingActivity.platform }}</div>
    </div>
  </div>

  <div class="activity-card">
    <img [src]="readingActivity.cover" alt="Libro" />
    <div class="activity-content">
      <div class="activity-type">READING {{ readingActivity.progress }}%</div>
      <div class="activity-title">{{ readingActivity.title }}</div>
      <div class="activity-subtitle">{{ readingActivity.author }}</div>
    </div>
  </div>
  <div class="activity-card">
    <img [src]="musicActivity.cover" alt="Portada" />
    <div class="activity-content">
      <div class="activity-type">NOW PLAYING</div>
      <div class="activity-title">{{ musicActivity.title }}</div>
      <div class="activity-subtitle">{{ musicActivity.author }}</div>
    </div>
  </div>

  <div class="activity-card">
    <img [src]="comicActivity.cover" alt="Libro" />
    <div class="activity-content">
      <div class="activity-type">READING {{ comicActivity.progress }}%</div>
      <div class="activity-title">{{ comicActivity.title }}</div>
      <div class="activity-subtitle">{{ comicActivity.issue }}</div>
    </div>
  </div>
</div>
