<header class="site-header">
  <div class="header-container">

    <!-- Logo | marca -->
    <div class="brand">
      <img src="../../../assets/img/fandrade.png" alt="Logo Fabian" class="logo-icon">
      <a href="" class="dev-name">&lt;Fabian Andrade /&gt;</a>
    </div>

        <!-- Botón hamburguesa (visible solo en móvil) -->
    <button class="menu-toggle" aria-label="Toggle Menu" (click)="toggleMobileMenu()">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navegación -->
    <nav class="nav-bar">
      <a [routerLink]="['/']" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a [routerLink]="['/about']" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About</a>
      <a [routerLink]="['/projects']" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Projects</a>
    </nav>

      <!-- Menú responsive desplegable -->
  <div class="mobile-menu" [ngClass]="{ 'hidden': !isMobileMenuOpen }">
    <a [routerLink]="['/']" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a [routerLink]="['/about']" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About</a>
    <a [routerLink]="['/projects']" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Projects</a>
  </div>

  </div>

</header>
