<section class="hero">
  <div class="hero-left">
    <h1>Hi! I'm <span class="highlight">Fabian Andrade</span>.</h1>
    <h2 class="typing"><span #typedText></span><span class="cursor">|</span></h2>

    <div class="hero-buttons">
      <a routerLink="/about" class="btn btn-filled"><i class="fa-solid fa-circle-user"></i> about me</a>
      <a href="https://github.com/FabianAndrade14" target="_blank" class="btn btn-outline">Support Me</a>
    </div>

    <div class="social-icons">
      <a href="https://github.com/FabianAndrade14" target="_blank"><i class="fab fa-github"></i></a>
      <a href="www.linkedin.com/in/fabian-camilo-andrade-mesa-abb8b9235" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://x.com/another_friki_" target="_blank"><i class="devicon-twitter-original"></i></a>
      <a href="https://www.instagram.com/fabian_belmont19/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </div>

  <div class="hero-right">
    <img src="../../assets/img/avatar.jpg" alt="Fabian Andrade" class="avatar" />
  </div>
</section>
<app-projects></app-projects>
